doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 
            a(href="/topic") Server side Javascript
        ul
            each topic in topics
                li
                    a(href="/topic/"+topic)= topic
        article 
            form(action="/topic", method="post")
                p
                    input(type="text" name="title" placeholder="title") 
                p 
                    textarea(name="description")
                p
                    input(type="submit")